/* ruleset/rule */
/* tags are lower specificity */

h1 {
  /* change the color of the text */
  color: rebeccapurple;
  background-color: aqua;
  /* : separate property from value */
  /* ; separates property/values */
}

/* How would you change the text color for
   all the paragraphs to brown??? */

p {
  color: brown;
}

div {
  color: blue;
  background-color: pink;
  width: 50px;
  height: 50px;
  padding: 50px;

  /* shorthand property */
  border: 5px solid gold;

  /* longhand */
  /* 
    border-width: 5px;
    border-style: solid;
    border-color: gold;
    */
}

/* class selectors */
/* these are more specific than tag selectors */
.green {
  color: green;
}

/* id selector is one of the most specific */
#last-p {
  color: gold;
}
