/* child - first-of-type and last-of-type*/

/* : means pseudo class - you are selecting an element by its state vs just its tag*/

li:nth-child(even){
  background-color: gray;
}

li:first-child {
  font-style: italic;
}

/* :: means psuedo element - you are select an element element that isn't really there */

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}


/* select attributes */
/* [<attributename>] */
/* [<attributename>="attributevalue"] */
img[class="random-class"] {
  border: 10px dotted black;
}

main div {
  color: blue;
}

/* just target footer div */
/* any decendant/child of footer that is a div */
footer div {
  background-color: brown;
}

/* child combinator selector ">" */
footer > div {
  border: 10px solid gold;
}

/* target multiple selectors with a single rule/ruleset */
blockquote,
p {
  font-style: oblique;
}


/* sibling selectors */

/* target the sibling p right after an h2 */
h2 + p {
  font-size: 50px;
  background-color: pink;
}

/* general sibling */
.first-lorem ~ p {
  margin-left: 50px;
}