/* Units tell the size of something - font, div/element with/height */

/* absolute and relative unit size */

/* pixels - absolute */
div{
    width: 100px;
    height: 100px;
}

/* percentage + rem - relative */

section{
    width: 50%;
    background-color: red;
}

/* rem */

p {
    font-size: 2rem;
}